<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.v5zhu.dubbo.dao.repository.mybatis.UserMybatisDao">
    <!--查询结果不包含app列表-->
    <resultMap id="UserMap" type="com.v5zhu.dubbo.po.entity.User">

        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="loginName" column="login_name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
    </resultMap>


    <select id="findByLoginName" resultMap="UserMap" parameterType="string">
      select * from user where login_name=#{0} AND deleted=0;
    </select>
    <insert id="createUser" parameterType="com.v5zhu.dubbo.po.entity.User">
        INSERT  INTO
        user(login_name,password,email,phone,deleted)
        VALUES(#{loginName},#{password},#{email},#{phone},#{deleted})
    </insert>
    <update id="modifyUser" parameterType="com.v5zhu.dubbo.po.entity.User">
        UPDATE user
        <set>
            login_name=#{loginName},
            password=#{password},
            email=#{email},
            phone=#{phone},
            deleted=#{deleted}
        </set>
        WHERE id=#{id}
    </update>
    <delete id="deleteUser" parameterType="java.lang.Long">
        UPDATE user
        <set>
            deleted=1
        </set>
        WHERE id=#{0}
    </delete>
</mapper>